CREATE DATABASE CCVINHOME
GO

USE [CCVINHOME]
GO
/****** Object:  Table [dbo].[BLOCK]    Script Date: 11/10/2020 4:08:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BLOCK](
	[MABLOCK] [char](1) NOT NULL,
 CONSTRAINT [PK_BLOCK] PRIMARY KEY CLUSTERED 
(
	[MABLOCK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CANHO]    Script Date: 11/10/2020 4:08:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CANHO](
	[MACH] [char](7) NOT NULL,
	[TRANGTHAI] [bit] NULL,
	[MALOAI] [char](5) NULL,
	[MANV] [char](10) NULL,
	[SOTANG] [char](4) NULL,
 CONSTRAINT [PK_CANHO] PRIMARY KEY CLUSTERED 
(
	[MACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoaiCH]    Script Date: 11/10/2020 4:08:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoaiCH](
	[MALOAI] [char](5) NOT NULL,
	[DIENTICH] [float] NULL,
	[SOPHONG] [int] NULL,
 CONSTRAINT [PK_LoaiCH] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANKHAU]    Script Date: 11/10/2020 4:08:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANKHAU](
	[MACH] [char](7) NOT NULL,
	[STT] [char](1) NOT NULL,
	[HOTENNK] [nvarchar](50) NULL,
	[NTNS] [date] NULL,
	[PHAINK] [nvarchar](5) NULL,
	[QUEQUAN] [nvarchar](50) NULL,
	[SDT] [varchar](15) NULL,
	[MANV] [char](10) NULL,
 CONSTRAINT [PK_NHANKHAU] PRIMARY KEY CLUSTERED 
(
	[STT] ASC,
	[MACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/10/2020 4:08:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](10) NOT NULL,
	[HOTENNV] [nvarchar](50) NULL,
	[NS] [date] NULL,
	[PHAI] [nvarchar](5) NULL,
	[CHUCVU] [nvarchar](30) NULL,
	[MAIL] [nchar](30) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 11/10/2020 4:08:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[ID] [char](10) NOT NULL,
	[PASS] [nchar](15) NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TANG]    Script Date: 11/10/2020 4:08:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TANG](
	[SOTANG] [char](4) NOT NULL,
	[MABLOCK] [char](1) NULL,
 CONSTRAINT [PK_TANG] PRIMARY KEY CLUSTERED 
(
	[SOTANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BLOCK] ([MABLOCK]) VALUES (N'A')
INSERT [dbo].[BLOCK] ([MABLOCK]) VALUES (N'B')
INSERT [dbo].[BLOCK] ([MABLOCK]) VALUES (N'C')
INSERT [dbo].[CANHO] ([MACH], [TRANGTHAI], [MALOAI], [MANV], [SOTANG]) VALUES (N'A-01-01', 1, N'LOAI1', N'1811061540', N'A-01')
INSERT [dbo].[CANHO] ([MACH], [TRANGTHAI], [MALOAI], [MANV], [SOTANG]) VALUES (N'A-01-02', 0, N'LOAI2', N'1811061805', N'A-01')
INSERT [dbo].[CANHO] ([MACH], [TRANGTHAI], [MALOAI], [MANV], [SOTANG]) VALUES (N'A-01-03', 1, N'LOAI1', N'1811061805', N'A-01')
GO
INSERT [dbo].[LoaiCH] ([MALOAI], [DIENTICH], [SOPHONG]) VALUES (N'LOAI1', 80, 3)
INSERT [dbo].[LoaiCH] ([MALOAI], [DIENTICH], [SOPHONG]) VALUES (N'LOAI2', 60, 2)
INSERT [dbo].[LoaiCH] ([MALOAI], [DIENTICH], [SOPHONG]) VALUES (N'LOAI3', 40, 1)
INSERT [dbo].[NHANKHAU] ([MACH], [STT], [HOTENNK], [NTNS], [PHAINK], [QUEQUAN], [SDT], [MANV]) VALUES (N'A-01-01', N'1', N'Nguyễn Thị Ngọc Trâm', CAST(N'1998-11-24' AS Date), N'Nữ', N'TPHCM', N'0775658476', N'1811061805')
INSERT [dbo].[NHANKHAU] ([MACH], [STT], [HOTENNK], [NTNS], [PHAINK], [QUEQUAN], [SDT], [MANV]) VALUES (N'A-01-03', N'1', N'Trần Châu Khoa', CAST(N'2000-09-27' AS Date), N'Nam', N'TPHCM', N'0934165224', N'1811061540')
INSERT [dbo].[NHANKHAU] ([MACH], [STT], [HOTENNK], [NTNS], [PHAINK], [QUEQUAN], [SDT], [MANV]) VALUES (N'A-01-04', N'1', N'Lê Hải Long', CAST(N'1986-10-31' AS Date), N'Nam', N'Nam Định', N'0543206461', N'1811061540')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HOTENNV], [NS], [PHAI], [CHUCVU], [MAIL]) VALUES (N'1811060369', N'Trần Châu Khoa', CAST(N'2000-09-27' AS Date), N'Nam', N'Quản lý', N'chaukhoa@gmail.com            ')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTENNV], [NS], [PHAI], [CHUCVU], [MAIL]) VALUES (N'1811060370', N'Nguyễn Thị Ngọc Trâm', CAST(N'1998-11-24' AS Date), N'Nữ', N'Nhân viên giám sát', N'ngoctram@gmail.com            ')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTENNV], [NS], [PHAI], [CHUCVU], [MAIL]) VALUES (N'1811061540', N'Nguyễn Hữu Tài', CAST(N'1996-10-25' AS Date), N'Nam', N'Giám đốc', N'nguyenhuutai.251096@gmail.com ')
INSERT [dbo].[TAIKHOAN] ([ID], [PASS]) VALUES (N'1811060369', N'123456')
INSERT [dbo].[TAIKHOAN] ([ID], [PASS]) VALUES (N'1811060370', N'1811060370')
INSERT [dbo].[TAIKHOAN] ([ID], [PASS]) VALUES (N'1811061540', N'123456')
INSERT [dbo].[TANG] ([SOTANG], [MABLOCK]) VALUES (N'A-01', N'A')
INSERT [dbo].[TANG] ([SOTANG], [MABLOCK]) VALUES (N'A-02', N'A')
INSERT [dbo].[TANG] ([SOTANG], [MABLOCK]) VALUES (N'A-03', N'A')
GO
ALTER TABLE [dbo].[CANHO]  WITH CHECK ADD  CONSTRAINT [Co] FOREIGN KEY([SOTANG])
REFERENCES [dbo].[TANG] ([SOTANG])
GO
ALTER TABLE [dbo].[CANHO] CHECK CONSTRAINT [Co]
GO
ALTER TABLE [dbo].[CANHO]  WITH CHECK ADD  CONSTRAINT [Luu] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[CANHO] CHECK CONSTRAINT [Luu]
GO
ALTER TABLE [dbo].[CANHO]  WITH CHECK ADD  CONSTRAINT [Trong] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LoaiCH] ([MALOAI])
GO
ALTER TABLE [dbo].[CANHO] CHECK CONSTRAINT [Trong]
GO
ALTER TABLE [dbo].[NHANKHAU]  WITH CHECK ADD  CONSTRAINT [CapNhat] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHANKHAU] CHECK CONSTRAINT [CapNhat]
GO
ALTER TABLE [dbo].[NHANKHAU]  WITH CHECK ADD  CONSTRAINT [Gom] FOREIGN KEY([MACH])
REFERENCES [dbo].[CANHO] ([MACH])
GO
ALTER TABLE [dbo].[NHANKHAU] CHECK CONSTRAINT [Gom]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [ThuocVe] FOREIGN KEY([ID])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [ThuocVe]
GO
ALTER TABLE [dbo].[TANG]  WITH CHECK ADD  CONSTRAINT [Thuoc] FOREIGN KEY([MABLOCK])
REFERENCES [dbo].[BLOCK] ([MABLOCK])
GO
ALTER TABLE [dbo].[TANG] CHECK CONSTRAINT [Thuoc]
GO
